@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cantarell, Montserrat, sans-serif;
    font-weight: 400;
    color: #403d39;
    background-color: #fffcf2;
}

/*headings*/
h1,
h2 {
    font-family: "Fjalla-One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: inherit;
}

h3 {
    color: inherit;
}

/*style logo*/
#logo {
    float: left;
    font-size: 300%;
    color: #fffcf2;
    margin-left: 50px;
}

/* style menu */
#menu li {
    float: right;
    /* remove style from the list */
    list-style-type: none;
    padding-right: 10px;
}

/* style navigation buttons*/

button {
    font-family: Cantarell, Montserrat, sans-serif;
    font-weight: 400;
    color: #fffcf2;
    font-size: 150%;
    background-color: #252422;
    height: 50px;
    width: 100px;
    border-radius: 20%;
}

#menu button:hover,
#logo:hover {
    color: #eb5e28;
}

/* style active button */
#menu button:active {
    color: #252422;
    background-color: #fffcf2;
    /* add shadow horizontal, vertical and color w3schools */
    box-shadow: 4px 4px rgb(73, 72, 72);
    /* move button down 10px */
    transform: translateY(10px);
}

/* align logo with navigation */
#menu,
#logo {
    line-height: 150px;
}

/* reverse colors when press button */
.active {
    color: #252422;
    background-color: #fffcf2;
    box-shadow: 4px 4px rgb(73, 72, 72);
}

header {
    background-color: #252422;
    height: 150px;
    width: 100%;
}

/* style hero image */
#hero-image {
    height: 900px;
    width: 70%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* set postion of the image-holder as relative to  */
#image-holder {
    position: relative;
}

/* style box-text beside hero-image with flex-box to center the text */
#box-text {
    display: flex;
    align-items: center;
    /*horizontal centering*/
    justify-content: center;
    /*vertical centering*/
    flex-direction: column;
    /*keep the h2 above h3*/
    color: inherit;
    font-size: 150%;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;

    width: 30%;
    height: 100%;

    /* set text box beside hero-image with absolute postion */
    right: 0;
    bottom: 0;
    position: absolute;
}

/* style about us section with the flex-box */
#about-us {
    height: 600px;
    display: flex;
    flex-direction: row;
    color: inherit;
}

#left-about-us {
    width: 50%;
    margin: 50px;
}

/* style table open times */
#open-times {
    padding: 5% 0 5% 0;
}

#open-times>table {
    width: 300px;
    text-align: left;
}

th,
th {
    padding: 15px;
}

/* style price-offer with the flex-box css.tricks.com*/
#right-about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

/* style text box */
#price-offer {
    background-color: rgba(235, 94, 40, 0.9);
    height: 300px;
    width: 50%;
    text-align: center;
}

/* increase pirce offer font-size */
#price-offer h2 {
    font-size: 800%;
}

/* price-offer a attribute style for active and inactive */
#price-offer a {
    text-decoration: none;
    color: inherit;
    text-shadow: 2px 1px #fffcf2;
}

#price-offer a:hover {
    color: #fffcf2;
    text-shadow: 3px 3px 3px #252422;
}

#price-offer h3 {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 180%;
}

#price-offer h4 {
    font-size: 150%;
}

/* style classes section */
#classes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}

.class-offer {
    width: 20%;

    /* border: 1px solid #fffcf2; */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 19%;

    /* style background image to black & white */
    filter: grayscale(100%);

    /* Add overlay on the photos */
    background-blend-mode: multiply;
    background-color: rgba(72, 72, 72, 0.9);

    text-align: center;
    margin: 1%;
}

.class-offer h2 {
    padding-top: 15%;
    color: #fffcf2;
    font-size: 200%;
}

.class-offer h3 {
    font-size: 150%;
    color: #fffcf2;
    padding-top: 10%;
}

/* insert images div for background  */
#running {
    background-image: url('../images/running-training.webp');
    height: 80%;
}

#bodyweight {
    background-image: url(../images/body-weight-training.jpeg);
    height: 85%;
}

#weights {
    background-image: url('../images/weights-training.webp');
    height: 90%;
}

#boxing {
    background-image: url('../images/boxing-training.jpeg');
    height: 85%;
}

#yoga {
    background-image: url('../images/yoga-training.jpeg');
    height: 80%;
}

/* style footer */
footer {
    height: 150px;
    background-color: #252422;
    line-height: 150px;
    overflow: hidden;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;

}

/* .social-media a {
    color: #fffcf2;
    font-size: 200%;
    padding: 2%;
    margin: 1%;
} */

.social-media i {
    font-size: 200%;
    margin: 2%;
    padding: 1%;
    color: #fffcf2;
}

.social-media i:hover {
    color: #eb5e28;
}

/* join page insert background-image */
#background-image {
    background-image: url(../images/girl-inside-gym.webp);
    height: 1800px;
    background-size: cover;
    background-position: center;
    /* filter: grayscale(100%);*/
}

/* style signup-form */
#signup-section {
    height: 1200px;
}

/* position form on the page with absolute */
.join-form {
    margin: 10% 40% 0 0;
    color: #fffcf2;
    text-shadow: 1px 1px #252422;
    background-color: rgba(235, 94, 40, 0.8);
    max-width: 400px;
    position: absolute;
    left: 20%;
    padding: 50px;
    border: 2px dashed #252422;
    border-radius: 1%;
}

/* style h2 element of the form */
.join-form>h2 {
    margin: 2% 0 5% 0;
    font-size: 200%;
}

/* style text input boxes */
.text-input {
    height: 40px;
    width: 100%;

    color: inherit;
    padding-left: 2%;
    margin-top: 5px;
    background-color: rgba(255, 252, 242, 0.8);
    color: #403d39;
    border: 2px dashed #252422;
    border-radius: 1%;
}

/* style text box when in use (in focus) */
.text-input:focus {
    background-color: #fffcf2;
    color: #403d39;
    border: 2px solid #252422;
}

/* style text box on hover */
.text-input:hover {
    background-color: rgba(64, 61, 57, 0.5);
    color: #fffcf2;
    border: 2px solid #fffcf2;
}

/* display form element as block elements */
.join-form label,
.text-input {
    font-size: 130%;
    display: block;
}

/* set additional space between form fields */
.join-form label,
.singup-button {
    margin-top: 20px;
}

/* style form button */
.singup-button {
    text-align: center;
    font-size: 130%;
    letter-spacing: 1px;
    color: #fffcf2;
    background-color: rgba(64, 61, 57, 0.9);
    padding: 10px;
    border-radius: 2px;
    display: block;
}

.singup-button:hover {
    color: #eb5e28;
    border: 2px solid #fffcf2;
    background-color: #252422;
}

.singup-button:active {
    transform: translateY(10px);
    box-shadow: 3px 3px #252422;
    background-color: #fffcf2;
    color: #252422;
}

/* style contact details and location section */
#contact-and-location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
}

/* add size to contact and location divs */
#contact-info,
#location-map {
    width: 50%;
    height: 100%;
}

/* style contact-info conainer */
#contact-info {
    background-color: rgba(64, 61, 57, 0.6);
    text-align: left;

}

/* set iframe dimensions */
#location-map>iframe {
    width: 100%;
    height: inherit;
}

/* style h2 and h3 elements */
#contact-info>h2,
#contact-info>h3 {
    color: #fffcf2;
    font-size: 200%;
    margin-left: 50px;
    letter-spacing: 3px;
}

/* add some space from the top of the div */
#contact-info>h2 {
    font-size: 300%;
    padding-top: 10%;
}

/* remove underline from a attribute */
#contact-info a {
    text-decoration: none;
    color: inherit;
}

/* add style on hover to a attribute */
#contact-info a:hover {
    color: #eb5e28;
}

/* style gallery - container grid */
.gallery-container {
    display: grid;
    grid:
        'area-one area-two area-four area-four area-five'
        'area-one area-three area-four area-four area-six'
        'area-seven area-seven area-eight area-ten area-ten'
        'area-seven area-seven area-nine area-ten area-ten'
        'area-eleven area-thirteen area-thirteen area-ten area-ten'
        'area-twelve area-thirteen area-thirteen area-ten area-ten';

    grid-template-columns: repeat(5, 20% [col-start]);
    grid-template-rows: auto;
    overflow: hidden;
    padding: 1% 0 1% 0;
}

/* added so I need to review */
.gallery-container>div {
    overflow: hidden;
    clear: both;
}

.image-one {
    grid-area: area-one;
    background-color: greenyellow;
}

.image-two {
    grid-area: area-two;
    background-color: green;
}

.image-three {
    grid-area: area-three;
    background-color: purple;
}

.image-four {
    grid-area: area-four;
    background-color: aqua;
}

.image-five {
    grid-area: area-five;
    background-color: white;
}

.image-six {
    grid-area: area-six;
    background-color: black;
}

.image-seven {
    grid-area: area-seven;
    background-color: red;
}

.image-eight {
    grid-area: area-eight;
    background-color: orange;
}

.image-nine {
    grid-area: area-nine;
    background-color: yellow;
}

.image-ten {
    grid-area: area-ten;
    background-color: white;
}

.image-eleven {
    grid-area: area-eleven;
    background-color: beige;
}

.image-twelve {
    grid-area: area-twelve;
    background-color: #eb5e28;
}

.image-thirteen {
    grid-area: area-thirteen;
    background-color: darkblue;
}

/* style images to fit the div */
.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fffcf2;
}

/* style the heading over the gallery */

#gym-gallery>h2 {
    text-align: center;
    padding: 2% 0 1% 0;
}