@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cantarell, Montserrat, sans-serif;
    font-weight: 400;
    color: #403d39;
    background-color: #fffcf2;
}

/*headings*/
h1,
h2 {
    font-family: "Fjalla-One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: inherit;
}

h3 {
    color: inherit;
}

/*style logo*/
#logo {
    float: left;
    font-size: 300%;
    color: #fffcf2;
    margin-left: 50px;
}

/* style menu */
#menu li {
    float: right;
    list-style-type: none;
    padding-right: 15px;
}

/* style navigation buttons*/
button {
    font-family: Cantarell, Montserrat, sans-serif;
    font-weight: 400;
    color: #fffcf2;
    font-size: 150%;
    background-color: #252422;
    height: 50px;
    width: 100px;
    border-radius: 15px;
}

#menu button:hover,
#logo:hover {
    color: #eb5e28;
}

/* style active button */
#menu button:active {
    color: #252422;
    background-color: #fffcf2;
    box-shadow: 4px 4px rgb(73, 72, 72);
    transform: translateY(10px);
}

/* align logo with navigation */
#menu,
#logo {
    line-height: 150px;
}

/* reverse colors when press button */
.active {
    color: #252422;
    background-color: #fffcf2;
    box-shadow: 4px 4px rgb(73, 72, 72);
}

header {
    background-color: #252422;
    height: 150px;
    width: 100%;
}

/* style hero image */
#hero-image {
    height: 100%;
    width: 70%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* set postion of the image-holder as relative to  */
#image-holder {
    height: 50vw;
    display: flex;
    flex-direction: row;
}

/* style box-text beside hero-image with flex-box to center the text */
#box-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: inherit;
    font-size: 150%;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    width: 30%;
    height: 100%;
}

/* style about us section with the flex-box */
#about-us {
    height: 600px;
    display: flex;
    flex-direction: row;
    color: inherit;
    text-align: justify;
    font-weight: bold;
}

#left-about-us {
    width: 70%;
    margin: 50px;
}

/* style table open times */
#open-times {
    padding: 2% 0 2% 0;
}

#table-title,
.table-center {
    font-size: 120%;
    border-bottom: 2px solid #252422;
}

#open-times>table {
    width: 320px;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

/* style price-offer with the flex-box css.tricks.com*/
#right-about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

/* style text box */
#price-offer {
    background-color: rgba(235, 94, 40, 0.9);
    height: 280px;
    width: 280px;
    text-align: center;
    margin: auto 0;
    color: #252422;
}

/* increase pirce offer font-size */
#price-offer h2 {
    font-size: 800%;
}

/* price-offer a attribute style for active and inactive */
#price-offer a {
    text-decoration: none;
    color: inherit;
    text-shadow: 2px 1px #fffcf2;
}

#price-offer a:hover {
    color: #fffcf2;
    text-shadow: 3px 3px 3px #252422;
}

/* style additional heading for price offer box */
#price-offer h3 {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 180%;
}

#price-offer h4 {
    font-size: 150%;
}

/* style classes section */
#classes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 30vw;
}

.class-offer {
    width: 20%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 19%;
    filter: grayscale(100%);
    background-blend-mode: multiply;
    background-color: rgba(72, 72, 72, 0.8);
    text-align: center;
    margin: 1%;
}

.class-offer h2 {
    padding-top: 15%;
    color: #fffcf2;
    font-size: 1.5vw;
    letter-spacing: 3px;
}

/* Align text in all divs */
#weights>h2 {
    margin-top: 10%;
}

#bodyweight>h2,
#boxing>h2 {
    margin-top: 5%;
}

.class-offer h3 {
    font-size: 1.5vw;
    color: #fffcf2;
    padding-top: 10%;
}

/* insert images div for background  */
#running {
    background-image: url('../images/running-training.webp');
    height: 80%;
}

#bodyweight {
    background-image: url('../images/body-weight-training.webp');
    height: 85%;
}

#weights {
    background-image: url('../images/weights-training.webp');
    height: 90%;
}

#boxing {
    background-image: url('../images/boxing-training.webp');
    height: 85%;
}

#yoga {
    background-image: url('../images/yoga-training.webp');
    height: 80%;
}

/* style footer */
footer {
    height: 150px;
    background-color: #252422;
    line-height: 150px;
    overflow: hidden;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;

}

.social-media i {
    font-size: 200%;
    margin: 2%;
    padding: 1%;
    color: #fffcf2;
}

.social-media i:hover {
    color: #eb5e28;
}

/* join page insert background-image */
#background-image {
    background-image: url(../images/girl-inside-gym.webp);
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* style signup-form */
#signup-section {
    height: 900px;
}

.join-form {
    color: #fffcf2;
    text-shadow: 2px 1px #252422;
    background-color: rgba(235, 94, 40, 0.8);
    max-width: 350px;
    padding: 30px;
    border: 2px dashed #252422;
    border-radius: 15px;
    margin: 300px auto 0 auto;
}

/* style h2 element of the form */
.join-form>h2 {
    margin: 2% 0 5% 0;
    font-size: 150%;
}

/* style text input boxes */
.text-input {
    height: 40px;
    width: 100%;
    color: inherit;
    padding-left: 2%;
    margin-top: 5px;
    background-color: rgba(255, 252, 242, 0.8);
    color: #403d39;
    border: 2px dashed #252422;
    border-radius: 15px;
}

/* style text box when in use (in focus) */
.text-input:focus {
    background-color: #fffcf2;
    color: #403d39;
    border: 2px solid #252422;
}

/* style text box on hover */
.text-input:hover {
    background-color: rgba(64, 61, 57, 0.5);
    color: #fffcf2;
    border: 2px solid #fffcf2;
}

/* display form element as block elements */
.join-form label,
.text-input {
    font-size: 120%;
    display: block;
}

/* set additional space between form fields */
.join-form label,
.singup-button {
    margin-top: 20px;
}

/* style form button */
.singup-button {
    text-align: center;
    font-size: 130%;
    letter-spacing: 1px;
    color: #fffcf2;
    background-color: rgba(64, 61, 57, 0.9);
    padding: 10px;
    border-radius: 15px;
    display: block;
}

.singup-button:hover {
    color: #eb5e28;
    border: 2px solid #fffcf2;
    background-color: #252422;
}

.singup-button:active {
    transform: translateY(10px);
    box-shadow: 3px 3px #252422;
    background-color: #fffcf2;
    color: #252422;
}

/* style contact details and location section */
#contact-and-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}

/* add size to contact and location divs */
#contact-info,
#location-map {
    width: 50%;
    height: 100%;
}

/* style gym-details and i-frame */
#gym-details,
#location-map>iframe {
    background-color: rgba(64, 61, 57, 0.6);
    text-align: left;
    height: 96%;
    width: 90%;
    margin-left: 5%;
    border: 2px dashed #252422;
    border-radius: 15px;
    color: #fffcf2;
    letter-spacing: 3px;
    font-size: 120%;
}

/* style h2 and h3 elements */
#contact-info h2,
#contact-info h3 {
    margin-left: 75px;
    padding: 5px;
}

/* add some space from the top of the div */
#gym-details>h2 {
    font-size: 180%;
    padding-top: 150px;
    text-transform: capitalize;
}

/* remove underline from a attribute */
#contact-info a {
    text-decoration: none;
    color: inherit;
}

/* add style on hover to a attribute */
#contact-info a:hover {
    color: #eb5e28;
}

/* style gallery - container grid */
.gallery-container {
    display: grid;
    grid:
        'area-one area-two area-four area-four area-five'
        'area-one area-three area-four area-four area-six'
        'area-seven area-seven area-eight area-ten area-ten'
        'area-seven area-seven area-nine area-ten area-ten'
        'area-eleven area-thirteen area-thirteen area-ten area-ten'
        'area-twelve area-thirteen area-thirteen area-ten area-ten';

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    overflow: hidden;
    margin: 0 auto;
    width: 99%;
}

.image-one {
    grid-area: area-one;
}

.image-two {
    grid-area: area-two;
}

.image-three {
    grid-area: area-three;
}

.image-four {
    grid-area: area-four;
}

.image-five {
    grid-area: area-five;
}

.image-six {
    grid-area: area-six;
}

.image-seven {
    grid-area: area-seven;
}

.image-eight {
    grid-area: area-eight;
}

.image-nine {
    grid-area: area-nine;
}

.image-ten {
    grid-area: area-ten;
}

.image-eleven {
    grid-area: area-eleven;
}

.image-twelve {
    grid-area: area-twelve;
}

.image-thirteen {
    grid-area: area-thirteen;
}

/* style images to fit the div */
.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fffcf2;
}

/* style the heading over the gallery */
#gym-gallery>h2,
#gym-intro-video>h2 {
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 150%;
}

/* style video section */
#gym-intro-video video {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

/* Style thankyou page */
#thank-you-page {
    height: 1500px;
    position: relative;
}

#thank-you-note {
    width: 75%;
    height: 450px;
    background-color: rgba(235, 94, 40, 0.8);
    color: #fffcf2;
    font-size: 150%;
    position: absolute;
    left: 12.5%;
    top: 25%;
    text-align: center;
    text-shadow: 2px 1px #252422;
    border: 2px dashed #252422;
    border-radius: 15px;
    align-items: center;
}

#thank-you-note h2 {
    margin-top: 90px;
}

#thank-you-note h3 {
    padding: 15px 0;
}

.submitted-ok {
    font-size: 300%;
    padding: 15px 0;
}

#thank-you-note a {
    color: #fffcf2;
    text-decoration: none;
    text-transform: uppercase;
}

#thank-you-note a:hover {
    text-decoration: underline;
    text-shadow: none;
}

#thank-you-note h3 {
    padding: 15px 0;
}

/* media queires */

/* For larger or medium screen size from 1080px wide and down */
@media screen and (max-width: 1080px) {

    /* Style about us section */
    #about-us {
        width: 85%;
        height: 720px;
        flex-direction: column;
        margin: 0 auto;
    }

    /* center left-about-us div */
    #left-about-us {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Add space between heading and hero image */
    #left-about-us>h2 {
        padding-top: 15px;
    }

    /* Align right-about-us div and change style */
    #right-about-us {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 15px;
        position: relative;
    }

    #price-offer {
        height: 280px;
        width: 280px;
        position: absolute;
        right: 36px;
        bottom: -110px;
    }

    /* Add image to classes section for smaller screens */
    #weights>h2,
    #bodyweight>h2,
    #boxing>h2 {
        margin-top: 0;
    }

    #classes {
        flex-direction: column;
        justify-content: center;
        height: 900px;
        background-image: url('../images/man-boxing.webp');
        background-size: cover;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
    }

    /* Add size to class-offer divs to fit new layout */
    .class-offer {
        width: 100%;
    }

    .class-offer h2,
    .class-offer h3 {
        padding-top: 10px;
        font-size: 1rem;
    }

    /* Remove current images from classes */
    #running,
    #bodyweight,
    #weights,
    #boxing,
    #yoga {
        background-image: none;
        border: 10px solid #fffcf2;
        padding: 0;
        box-sizing: border-box;
        margin: 0;
    }

    /* Style join page - contact details */
    #contact-info h2,
    #contact-info h3 {
        margin-left: 40px;
        font-size: 100%;
    }

    #gym-details>h2 {
        font-size: 130%;
    }

    /* Style gallery */
    .gallery-container {
        grid:
            'area-one  area-four area-four'
            'area-one area-four area-four'
            'area-seven area-seven area-eight'
            'area-seven area-seven area-nine'
            'area-eleven area-thirteen area-thirteen'
            'area-twelve area-thirteen area-thirteen'
            'area-ten area-ten area-two'
            'area-ten area-ten area-three'
            'area-ten area-ten area-five'
            'area-ten area-ten area-six';

        grid-template-columns: repeat(3, 1fr);
        width: 98%;
        margin: 0 auto;
    }

    /* Add style to thankyou page */
    #thank-you-note {
        font-size: 120%;
        width: 80%;
        left: 10%;
    }

    #thank-you-note h2 {
        letter-spacing: 3px;
    }
}

/*  Query for medium screen size from 900px wide and below */

@media screen and (max-width: 900px) {

    /* style header for screen 900px or below */
    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        line-height: 75px;
        font-size: 100%;
    }

    #logo {
        line-height: 75px;
        font-size: 240%;
        margin-left: 25px;
    }

    /* Style hero image and text beside */
    #hero-image,
    #box-text {
        width: 100%;
        font-size: 130%;
        height: 30%;
    }

    #hero-image {
        height: 70%;
    }

    #image-holder {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        height: 600px;
    }

    /*  Style about us section */
    #about-us {
        height: 600px;
    }

    #left-about-us h3 {
        font-size: 16px;
    }

    /* Style price-offer box */
    #price-offer {
        height: 130px;
        width: 130px;
        right: 5%;
        bottom: 40px;
    }

    #price-offer h3 {
        padding-top: 7px;
        font-size: 100%;
    }

    #price-offer h2 {
        font-size: 350%;
    }

    #price-offer h4 {
        font-size: 100%;
    }

    /* Style join page */

    /* Add page size */
    #background-image {
        height: 100%;
    }

    /* Style contact and location section */
    #contact-and-location {
        height: 800px;
        width: 85%;
        flex-direction: column;
        margin: 0 auto;
    }

    #contact-info,
    #location-map {
        width: 100%;
        height: 50%;
    }

    /* Align text in the middle */
    #gym-details>h2 {
        padding-top: 75px;
    }

    #gym-details {
        text-align: center;
    }

    #contact-info h2,
    #contact-info h3 {
        margin: 0;
    }

    /* Style gallery  */
    #gym-intro-video video {
        width: 70%;
    }

}

/*  Query for medium screen size from 550px wide and below */

@media screen and (max-width: 550px) {

    /*  Style index page */
    header {
        height: 100px;
    }

    #logo {
        font-size: 180%;
        margin-left: 15px;
        line-height: 50px;
    }

    /* Style navigation menu */
    #menu {
        margin-left: 15px;
        font-size: 14px;
        line-height: 50px;
    }

    #menu button {
        height: 39px;
        width: 78px;
    }

    footer {
        height: 100px;
        line-height: 100px;
    }

    .social-media i {
        font-size: 140%;
    }

    #hero-image {
        height: 80%;
        background-image: url('../images/hero-image-two.webp');
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    #box-text {
        font-size: 110%;
        height: 20%;
    }

    #about-us {
        height: 850px;
        width: 90%;
    }

    #price-offer {
        width: 90%;
        right: 2.5%;
        bottom: -140px;
        margin: 5%;
        padding: 0;
    }

    #table-title,
    .table-center {
        font-size: 100%;
    }

    #open-times>table {
        width: 100%;
    }

    #classes {
        width: 100%;
    }

    /* Style join page */

    #signup-section {
        height: 500px;
    }

    .join-form {
        max-width: 75%;
        padding: 20px;
        margin: 150px auto 0 auto;
    }

    .join-form label,
    .text-input {
        font-size: 100%;
    }

    .text-input {
        width: 95%;
    }

    .join-form label,
    .singup-button {
        margin-top: 10px;
        font-size: 16px;
    }

    .join-form>h2 {
        margin: 2% 0 3% 0;
        font-size: 100%;
    }


    #contact-and-location {
        width: 90%;
        height: 1000px;
    }

    #contact-info h3 {
        font-size: 100%;
        padding: 5px 2px 5px 2px;
    }

    #gym-details>h2 {
        font-size: 115%;
        padding-top: 110px;
    }

    /* Add gallery style */
    .gallery-container {
        grid:
            'area-one  area-two'
            'area-one area-three'
            'area-four area-four'
            'area-four area-four'
            'area-eleven area-eight'
            'area-twelve area-nine'
            'area-seven area-seven'
            'area-seven area-seven'
            'area-ten area-five'
            'area-ten area-six'
            'area-thirteen area-thirteen'
            'area-thirteen area-thirteen';

        grid-template-columns: repeat(2, 1fr);
    }

    #gym-gallery>h2,
    #gym-intro-video>h2 {
        padding: 15px 0 15px 0;
        font-size: 110%;
    }

    /* Add style to thankyou page */
    #thank-you-note h2 {
        margin-top: 150px;
        padding: 10px;
        letter-spacing: 2px;
    }

    #thank-you-note {
        font-size: 100%;
        width: 90%;
        left: 5%;
        height: 600px;
    }

    #thank-you-note h3 {
        padding: 10px 5px;
    }

}

/*  Query for medium screen size from 405px wide and below */
@media screen and (max-width: 405px) {

    #about-us {
        height: 950px;
    }

    #price-offer {
        bottom: -150px;
    }
}

/*  Query for medium screen size from 345px wide and below */

@media screen and (max-width: 345px) {

    #logo {
        font-size: 140%;
    }

    #menu button {
        height: 30px;
        width: 60px;
    }

    #menu {
        font-size: 10px;
    }

    #box-text {
        font-size: 100%;
    }

    /*  Style about us for scree 345px or below */
    #about-us {
        height: 975px;
    }
}