@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cantarell, Montserrat, sans-serif;
    font-weight: 400;
    color: #403d39
}

/*headings*/
h1,
h2 {
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #403d39;
}

/*style logo*/
#logo {
    float: left;
    font-size: 300%;
    color: #fffcf2;
    margin-left: 20px;
}

/* style menu */
#menu li {
    float: right;
    list-style-type: none;
    padding-right: 10px;
}

/* style navigation buttons*/

button {
    font-family: Cantarell, Montserrat, sans-serif;
    font-weight: 400;
    color: #fffcf2;
    font-size: 150%;
    background-color: #252422;
    height: 50px;
    width: 100px;
    border-radius: 20%;
}

#menu button:hover {
    color: #eb5e28;
}

/* styling active button */
button:active {
    color: #252422;
    background-color: #fffcf2;
    box-shadow: 4px 4px rgb(73, 72, 72);
    transform: translateY(10px);
}

/* aligining logo with navigation */
#menu,
#logo {
    line-height: 75px;
}

.active button {
    color: #252422;
    background-color: #fffcf2;
    box-shadow: 4px 4px rgb(73, 72, 72);
}

header {
    background-color: #252422;
    height: 75px;
    width: 100%;
}

/* style hero image */
#hero-image {
    height: 600px;
    width: 70%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#image-holder {
    position: relative;
}

/* style text beside hero-image with flex-box */
#box-text {
    display: flex;
    align-items: center;
    /*horizontal centering*/
    justify-content: center;
    /*vertical centering*/
    flex-direction: column;
    /*keep the h2 above h3*/
    color: inherit;
    font-size: 150%;
    font-family: "Fjalla One" sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;

    width: 30%;
    height: 100%;
    background-color: #fffcf2;
    right: 0;
    bottom: 0;
    position: absolute;
}

/* style about us section */

#about-us {
    height: 450px;
    display: flex;
    flex-direction: row;
    background-color: #fffcf2;
    color: inherit;
}

#left-about-us {
    width: 50%;
    margin: 50px;
}

#right-about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 50%;
}

#price-offer {
    background-color: rgba(235, 94, 40, 0.5);
    height: 300px;
    width: 50%;
    text-align: center;
}

#price-offer h1 {
    font-size: 10rem;
}

#price-offer a {
    text-decoration: none;
}

#price-offer h2 {
    padding-top: 30px;
}